composer.phar
composer.lock
/nbproject/private/
/.vagrant
/vagrant/nginx/server-configs-nginx-master/sites-enabled/*
/vendor

# Ignore these files that have config info
# app/core/Databaseinstance.php
app/migrations/install-0.0.1.php
